[submodule "src/vue-comic-components"]
	path = src/vue-comic-components
	url = git@github.com:mit1mit1/vue-comic-components.git
[submodule "src/vue-svgs"]
	path = src/vue-svgs
	url = git@github.com:mit1mit1/vue-svgs.git
[submodule "src/gameMusic"]
	path = src/gameMusic
	url = git@github.com:mit1mit1/gameMusicUtils.git
